{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Главная - Система учета посещений{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Система учета посещений</h1>
            <p class="lead mb-5">
                Эффективное решение для учета посещаемости и управления доступом
            </p>
        </div>
    </div>
    {% if user_profile %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Добро пожаловать, {{ user_profile.full_name }}!</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>ФИО:</strong> {{ user_profile.full_name }}</p>
                                <p><strong>ИИН:</strong> {{ user_profile.iin }}</p>
                                <p><strong>Email:</strong> {{ user_profile.email }}</p>
                                <p><strong>Роль:</strong> {{ user_profile.get_role_display }}</p>
                            </div>
                            <div class="col-md-6 text-end">
                                <a href="/qr/scan/" class="btn btn-primary">
                                    <i class="bi bi-qr-code-scan"></i> Сканировать QR
                                </a> <a href="{% url 'groups:my_groups' %}" class="btn btn-primary">
                                <i class="bi bi-qr-code-scan"></i> Мои группы
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center">
                <h2 class="mb-4">Начните прямо сейчас</h2>
                <a href="/accounts/login/" class="btn btn-primary btn-lg">
                    <i class="bi bi-box-arrow-in-right"></i> Войти в систему
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
